In [1]:
import re
import json
import shutil

import sqlparse
from sqlparse import sql
import sqlglot
import sqlglot.expressions as exp
import spacy
from tqdm import tqdm
from pathlib import Path

from process_sql import create_sql, SQLParseException

In [3]:
# Loading whole english spider dataset for further tests
spider_en = []
with open('../../spider-en/train_spider.json') as json_data:
    spider_en.extend(json.load(json_data))
with open('../../spider-en/train_others.json') as json_data:
    spider_en.extend(json.load(json_data))
with open('../../spider-en/dev.json') as json_data:
    spider_en.extend(json.load(json_data))

## Query toks no value

In [3]:
def tokenize_query_no_value(query):
    statement = sqlparse.parse(query)[0]
    
    value_tokens = [token for token in statement.flatten() if str(token.ttype).startswith('Token.Literal')]
    for token in value_tokens:
        token.value = 'value'
        
    coarse_tokens =  [str(token).lower() for token in statement.flatten() if str(token).strip() != '']
    
    fine_tokens = []
    for token in coarse_tokens:
        if len(token.split(' ')) > 1:
            fine_tokens.extend(token.split(' '))
        elif token == '!=':
            fine_tokens.extend(['!', '='])
        elif token == '>=':
            fine_tokens.extend(['>', '='])
        elif token == '<=':
            fine_tokens.extend(['<', '='])
        elif token == ';':
            continue
        else:
            fine_tokens.append(token)
    return fine_tokens

### Test

In [ ]:
# Compare created tokenization function with tokens from oryginal spider
discrepancies = 0

for sample in spider_en:
    my_tokens = tokenize_query_no_value(sample['query'])
    oryginal_tokens = sample['query_toks_no_value']
    if my_tokens != oryginal_tokens:
        discrepancies += 1
        print(sample['query'])
        print(my_tokens)
        print(oryginal_tokens)
        print()
        
print(discrepancies, 'discrepancies')
# found 18 discrepancies

## Query toks

In [4]:
nlp_pl = spacy.load("pl_core_news_md")

def tokenize_polish(text):
    return [str(token) for token in nlp_pl(text)]

In [5]:
def tokenize_statement(root, tokens=None):
    if tokens is None:
        tokens = []
    
    # Create tokens from elements which we can't divide
    if not hasattr(root, 'tokens'):
        token = str(root).strip()
        if token == '' or token == ';':
            pass
        elif len(token.split(' ')) > 1:
            tokens.extend(token.split(' '))
        elif token == '!=':
            tokens.extend(['!', '='])
        elif token == '>=':
            tokens.extend(['>', '='])
        elif token == '<=':
            tokens.extend(['<', '='])
        else:
            tokens.append(str(root))
    
    # Not split identifiers like "T1.name" into separate tokens
    elif isinstance(root, sql.Identifier) and '.' in str(root):
        tokens.append(str(root))
        
    # Tokenize strings using polish tokenizer
    elif isinstance(root, sql.Identifier) and len(root.tokens) == 1 and str(root.tokens[0].ttype) == 'Token.Literal.String.Symbol':
        tokens.extend(tokenize_polish(str(root)))
        
    # Tokenize other compound elements recursively
    else:
        for token in root.tokens:
            tokenize_statement(token, tokens)
            
    return tokens

In [6]:
def tokenize_query(query):
    statement = sqlparse.parse(query)[0]
    tokens = tokenize_statement(statement)
    return tokens

### Test

In [ ]:
# Compare created tokenization function with tokens from oryginal spider
discrepancies = 0

for sample in spider_en:
    my_tokens = tokenize_query(sample['query'])
    oryginal_tokens = sample['query_toks']
    if my_tokens != oryginal_tokens:
        discrepancies += 1
        print(sample['query'])
        print(my_tokens)
        print(oryginal_tokens)
        print()
        
print(discrepancies, 'discrepancies')
# found 4754 discrepancies

## Question tokenization

In [7]:
def tokenize_question(question):
    return tokenize_polish(question)

## Completing dataset

In [8]:
def add_calculated_attributes_to_samples(src_path, tgt_path, tables_path):
    with open(src_path) as f:
        samples = json.load(f)
        
    new_samples = []
        
    for sample in tqdm(samples):
        try:
            sql = create_sql(sample['db_id'], sample['query_pl'], tables_path)
        except SQLParseException:
            # skip samples with invalid sqls
            print('Skipping sample')
        
        new_sample = {
            'db_id': sample['db_id'],
            'question': sample['question_pl'],
            'question_toks': tokenize_question(sample['question_pl']),
            'query': sample['query_pl'],
            'query_toks': tokenize_query(sample['query_pl']),
            'query_toks_no_value': tokenize_query_no_value(sample['query_pl']),
            'sql': sql
        }
        
        new_samples.append(new_sample)
        
    with open(tgt_path, 'w') as f:
        json.dump(new_samples, f, indent=4, ensure_ascii=False)

In [9]:
def create_gold_sql(src_files, tgt_file):
    with open(tgt_file, 'w') as f:
        for src_file in src_files:
            with open(src_file) as g:
                for sample in json.load(g):
                    f.write(f"{sample['query_pl']}\t{sample['db_id']}\n")

In [2]:
def create_tables_translation_dict(tables_names_path):
    with open(tables_names_path) as f:
        tables_names = json.load(f)
        
    tables_trans_dict = {}
    for entry in tables_names:
        if entry['db_id'] not in tables_trans_dict:
            tables_trans_dict[entry['db_id']] = {}
        tables_trans_dict[entry['db_id']][entry['name_original'].lower()] = {'name': entry['name_pl'], 'name_original': entry['name_original_pl']}
        
    return tables_trans_dict

In [3]:
def create_columns_translation_dict(columns_names_path):
    with open(columns_names_path) as f:
        columns_names = json.load(f)
        
    columns_trains_dict = {}
    for entry in columns_names:
        if entry['db_id'] not in columns_trains_dict:
            columns_trains_dict[entry['db_id']] = {}
        db_stuff = columns_trains_dict[entry['db_id']]
        if entry['table_name_original'].lower() not in db_stuff:
            db_stuff[entry['table_name_original'].lower()] = {}
        table_stuff = db_stuff[entry['table_name_original'].lower()]
        table_stuff[entry['column_name_original'].lower()] = {'name': entry['column_name_pl'], 'name_original': entry['column_name_original_pl']}
        
    return columns_trains_dict

In [5]:
def translate_tables(tables_path, tables_names_path, columns_names_path, output_path):
    tables_trans_dict = create_tables_translation_dict(tables_names_path)
    columns_trans_dict = create_columns_translation_dict(columns_names_path)
        
    with open(tables_path) as f:
        tables_json = json.load(f)
        
    # perform translation
    for db in tables_json:
        db_id = db['db_id']
        
        # translate columns
        assert db['column_names'][0][1] == '*'
        assert db['column_names_original'][0][1] == '*'
        for i in range(1, len(db['column_names_original'])):
            table_idx, column_name_original = db['column_names_original'][i]
            table_name = db['table_names_original'][table_idx]
            translations = columns_trans_dict[db_id][table_name][column_name_original]
            db['column_names_original'][i][1] = translations['name_original']
            db['column_names'][i][1] = translations['name']
        
        # translate tables
        for i in range(len(db['table_names_original'])):
            table_name = db['table_names_original'][i]
            translations = tables_trans_dict[db_id][table_name]
            db['table_names_original'][i] = translations['name']
            db['table_names'][i] = translations['name_original']
        
    # save translated
    with open(output_path, 'w') as f:
        json.dump(tables_json, f, indent=4, ensure_ascii=False)

In [ ]:
x = translate_tables(
    '../auxiliary/translated_schema/tables.json',
    '../auxiliary/translated_schema/tables_names.json',
    '../auxiliary/translated_schema/columns_names.json',
    '../auxiliary/translated_likes/tables.json'
)

### Experiments

Nazwy kolumn:
- po select
    - w funkcjach agregacyjnych (min, max, avg)
- w porównaniach (where, on)
- po order by

Nazwy tabel:
- tam gdzie nazwy kolumn
- po from
- po join

In [6]:
q1 = "select horsepower ,  T1.Make FROM CAR_NAMES AS T1 JOIN CARS_DATA AS T2 ON T1.MakeId  =  T2.Id WHERE T2.cylinders  =  3 ORDER BY T2.horsepower DESC LIMIT 1;"
q2 = "SELECT LOCATION ,  name FROM stadium WHERE capacity BETWEEN 5000 AND 10000"
q3 = "select max(capacity) from stadium as ST"

In [7]:
def get_tables_aliasing(sql):
    aliasing = []
    tokens = [token for token in sqlparse.parse(sql)[0].flatten() if str(token).strip() != '']
    for i in range(1, len(tokens)-1):
        prev, current, next = tokens[i-1:i+2]
        if str(current).upper() == 'AS':
            assert str(current.ttype) == 'Token.Keyword'
            aliasing.append((str(prev), str(next))) 
    return aliasing

# get_tables_aliasing(q1)

q5 = 'SELECT T1.name ,  T1.id FROM station AS T1 JOIN status AS T2 ON T1.id  =  T2.station_id GROUP BY T2.station_id HAVING avg(T2.bikes_available)  >  14 UNION SELECT name ,  id FROM station WHERE installation_date LIKE "12/%"'
q6 = 'SELECT count(*) FROM station AS T1 JOIN trip AS T2 JOIN station AS T3 JOIN trip AS T4 ON T1.id  =  T2.start_station_id AND T2.id  =  T4.id AND T3.id  =  T4.end_station_id WHERE T1.city  =  "Mountain View" AND T3.city  =  "Palo Alto"'
q7 = 'SELECT DISTINCT T2.Hardware_Model_name FROM screen_mode AS T1 JOIN phone AS T2 ON T1.Graphics_mode = T2.screen_mode WHERE T1.Type  =  "Graphics" OR t2.Company_name  =  "Nokia Corporation"'
get_tables_aliasing(q7)

[('screen_mode', 'T1'), ('phone', 'T2')]

In [557]:
# def get_tables_aliasing(sql):
#     parsed = sqlglot.parse_one(sql)
#     aliasing = {table.this.output_name: table.alias for table in parsed.find_all(exp.Table)}
#     return aliasing

# get_tables_aliasing(q1)

{'CAR_NAMES': 'T1', 'CARS_DATA': 'T2'}

In [8]:
q5 = 'SELECT T1.name ,  T1.id FROM station AS T1 JOIN status AS T2 ON T1.id  =  T2.station_id GROUP BY T2.station_id HAVING avg(T2.bikes_available)  >  14 UNION SELECT name ,  id FROM station WHERE installation_date LIKE "12/%"'
q6 = 'SELECT count(*) FROM station AS T1 JOIN trip AS T2 JOIN station AS T3 JOIN trip AS T4 ON T1.id  =  T2.start_station_id AND T2.id  =  T4.id AND T3.id  =  T4.end_station_id WHERE T1.city  =  "Mountain View" AND T3.city  =  "Palo Alto"'
get_tables_aliasing(q6)

[('station', 'T1'), ('trip', 'T2'), ('station', 'T3'), ('trip', 'T4')]

In [89]:
def find_tables(sql):
    parsed = sqlglot.parse_one(sql)
    tables = {table.this.output_name for table in parsed.find_all(exp.Table)}
    return tables

find_tables(q1)

{'dorm', 'dorm_amenity', 'has_amenity', 'lives_in', 'student'}

In [10]:
q4 = "SELECT student_id FROM students WHERE student_id NOT IN (SELECT student_id FROM student_course_attendance)"

In [88]:
def find_columns(sql):
    parsed = sqlglot.parse_one(sql)
    columns = {col.output_name for col in parsed.find_all(exp.Column)}
    return columns

find_columns(q1)

{'amenid', 'dormid', 'fname', 'stuid'}

In [12]:
def split_nested_query_tokens(tokens):
    outer_query = []
    active_nested_query = []
    nested_queries = []
    
    is_in_nested = False
    parenth_level = 0
    
    i = 0
    while i < len(tokens):
        token = tokens[i]
        
        if str(token) == '(':
            parenth_level += 1
            
        elif str(token) == ')':
            parenth_level -= 1
            
            if parenth_level == 0 and is_in_nested:
                nested_queries.append(active_nested_query)
                active_nested_query = []
                is_in_nested = False
            
        elif str(token).upper() == 'SELECT':
            if parenth_level == 1 and i > 0 and str(tokens[i-1]) == '(':
                is_in_nested = True
                
        if is_in_nested:
            active_nested_query.append(token)
        else:
            outer_query.append(token)
            
        i += 1
        
    return outer_query, nested_queries

In [13]:
statement = sqlparse.parse('SELECT * FROM student_course_registrations WHERE student_id NOT IN ( SELECT student_id FROM student_course_attendance )')[0]
tokens = [token for token in statement.flatten() if str(token).strip() != '']
split_nested_query_tokens(tokens)

([<DML 'SELECT' at 0x26F9D800BE0>,
  <Wildcard '*' at 0x26FC0187580>,
  <Keyword 'FROM' at 0x26FC0187880>,
  <Name 'studen...' at 0x26FC0187D60>,
  <Keyword 'WHERE' at 0x26FC0187E20>,
  <Name 'studen...' at 0x26FC0187EE0>,
  <Keyword 'NOT' at 0x26FC0187FA0>,
  <Keyword 'IN' at 0x26FC0185A20>,
  <Punctuation '(' at 0x26FC0185AE0>,
  <Punctuation ')' at 0x26FC01854E0>],
 [[<DML 'SELECT' at 0x26FC01856C0>,
   <Name 'studen...' at 0x26FC0185780>,
   <Keyword 'FROM' at 0x26FC0185840>,
   <Name 'studen...' at 0x26FC0185420>]])

In [14]:
def split_set_query_tokens(tokens):
    subqueries = []
    current_query = []
    
    for token in tokens:
        if str(token).upper() in ['UNION', 'EXCEPT', 'INTERSECT']:
            subqueries.append(current_query)
            current_query = []
        else:
            current_query.append(token)
    subqueries.append(current_query)
    return subqueries

In [44]:
def split_set_query_tokens(tokens):
    active_query = []
    queries = []
    
    parenth_level = 0
    
    i = 0
    while i < len(tokens):
        token = tokens[i]
        
        if str(token) == '(':
            parenth_level += 1
            
        elif str(token) == ')':
            parenth_level -= 1
            
        if str(token).upper() in ['UNION', 'EXCEPT', 'INTERSECT'] and parenth_level == 0:
            queries.append(active_query)
            active_query = []
        else:        
            active_query.append(token)
            
        i += 1
        
    queries.append(active_query)
    return queries

In [45]:
statement = sqlparse.parse('SELECT student_id FROM student_course_registrations UNION SELECT student_id FROM student_course_attendance')[0]
tokens = [token for token in statement.flatten() if str(token).strip() != '']
split_set_query_tokens(tokens)

[[<DML 'SELECT' at 0x26FC08731C0>,
  <Name 'studen...' at 0x26FC3232860>,
  <Keyword 'FROM' at 0x26FC3231960>,
  <Name 'studen...' at 0x26FC3231B40>],
 [<DML 'SELECT' at 0x26FC3231DE0>,
  <Name 'studen...' at 0x26FC3231EA0>,
  <Keyword 'FROM' at 0x26FC3231F60>,
  <Name 'studen...' at 0x26FC3232020>]]

In [95]:
def translate_simple_query_tokens(tokens, db_id, tables_trans_dict, columns_trans_dict, parent_aliasing=None):
    parent_aliasing = parent_aliasing or []
    
    tables_trans_dict = tables_trans_dict[db_id]
    columns_trans_dict = columns_trans_dict[db_id]
        
    query = ' '.join([str(token) for token in tokens])
    aliasing = get_tables_aliasing(query)
    aliasing_rev = {new.lower(): old for old, new in aliasing}
    parent_aliasing_rev = {new.lower(): old for old, new in parent_aliasing}
    columns_names = find_columns(query.replace('( )', '(select 1)'))
    tables_names = find_tables(query.replace('( )', '(select 1)'))
    if len(columns_names | tables_names) != len(columns_names) + len(tables_names):
        print('.', end='')
    
    for i in reversed(range(len(tokens))):
        if str(tokens[i].ttype).startswith('Token.Literal.String'): # skip if token is string value
            continue
        
        if str(tokens[i]) in columns_names and str(tokens[i-1]).lower() not in ['FROM', 'JOIN']:
            table_name = str(tokens[i-2]) if i >= 2 and str(tokens[i-1]) == '.' else None
            if table_name is not None:
                if table_name.lower() in aliasing_rev:
                    table_name = aliasing_rev[table_name.lower()]
                elif table_name.lower() in parent_aliasing_rev:
                    table_name = parent_aliasing_rev[table_name.lower()]
            
            if table_name is None:
                possible_table_names = [table_name for table_name, table_trans in columns_trans_dict.items() if table_name in [x.lower() for x in tables_names] and str(tokens[i]).lower() in table_trans]
                assert len(possible_table_names) > 0
                if len(possible_table_names) > 1:
                    # print(str(tokens[i-1]))
                    # print(str(tokens[i-2]))
                    # print(possible_table_names)
                    # print('+', query, '|', str(tokens[i]), f'({db_id})')
                    pass
                table_name = possible_table_names[0]
            column_name_pl = columns_trans_dict[table_name.lower()][str(tokens[i]).lower()]['name_original']
            tokens[i].value = column_name_pl
            
        elif str(tokens[i]) in tables_names:
            table_name_pl = tables_trans_dict[str(tokens[i]).lower()]['name_original']
            tokens[i].value = table_name_pl
            
    return aliasing

In [93]:
a = {1, 2}
b = {2, 3}
a|b

{1, 2, 3}

In [63]:
def translate_query_tokens(tokens, db_id, tables_trans_dict, columns_trans_dict, aliasing):
    set_queries = split_set_query_tokens(tokens)
    for set_query in set_queries:
        outer_query, nested_queries = split_nested_query_tokens(set_query)
        
        outer_aliasing = translate_simple_query_tokens(outer_query, db_id, tables_trans_dict, columns_trans_dict, aliasing)
    
        for query in nested_queries:
            translate_query_tokens(query, db_id, tables_trans_dict, columns_trans_dict, [*aliasing, *outer_aliasing])

In [62]:
def translate_query(query, db_id, tables_trans_dict, columns_trans_dict):
    statement = sqlparse.parse(query)[0]
    tokens = [token for token in statement.flatten() if str(token).strip() != '']
    translate_query_tokens(tokens, db_id, tables_trans_dict, columns_trans_dict, [])
    return str(statement)

In [96]:
q0 = "SELECT student_id FROM student_course_registrations UNION SELECT student_id FROM student_course_attendance intersect SELECT student_id FROM student_course_attendance"
q1 = "SELECT T1.fname FROM student AS T1 JOIN lives_in AS T2 ON T1.stuid  =  T2.stuid WHERE T2.dormid IN (SELECT T2.dormid FROM dorm AS T3 JOIN has_amenity AS T4 ON T3.dormid  =  T4.dormid JOIN dorm_amenity AS T5 ON T4.amenid  =  T5.amenid GROUP BY T3.dormid ORDER BY count(*) DESC LIMIT 1)"
q2 = "SELECT DISTINCT T2.name FROM undergoes AS T1 JOIN patient AS T2 ON T1.patient = T2.SSN JOIN stay AS T3 ON T1.Stay  =  T3.StayID WHERE T3.room  =  111"
translate_query(
    q2,
    # "student_assessment",
    # "dorm_1",
    "hospital_1",
    create_tables_translation_dict('../auxiliary/translated_schema/tables_names.json'),
    create_columns_translation_dict('../auxiliary/translated_schema/columns_names.json'),
)

.

'SELECT DISTINCT T2.Imię FROM Przechodzi AS T1 JOIN Pacjent AS T2 ON T1.Pacjent = T2.SSN JOIN Pobyt AS T3 ON T1.Pobyt  =  T3.PobytID WHERE T3.Pokój  =  111'

In [98]:
def translate_samples(samples, tables_translation_dict, columns_translation_dict):
    for sample in samples:
        # print(sample['query'])
        query_pl = translate_query(sample['query'], sample['db_id'], tables_translation_dict, columns_translation_dict)
        sample['query'] = query_pl
    return samples

In [99]:
with open('../auxiliary/translated_likes/train_spider.json') as f:
    samples = json.load(f)
    
tables_translation_dict = create_tables_translation_dict('../auxiliary/translated_schema/tables_names.json')
columns_translation_dict = create_columns_translation_dict('../auxiliary/translated_schema/columns_names.json')

trans_samples = translate_samples(samples, tables_translation_dict, columns_translation_dict)

...............................................................................................................................................................................................

In [596]:
with open('../auxiliary/translated_likes/train_spider.json', 'w') as f:
        json.dump(trans_samples, f, indent=4, ensure_ascii=False)

In [18]:
def create_complete(src_name, dst_name):
    src_path = Path('../auxiliary') / src_name
    dst_path = Path('../complete') / dst_name
    
    dst_path.mkdir(exist_ok=True, parents=True)
    
    for file in ['dev.json', 'train_others.json', 'train_spider.json']:
        add_calculated_attributes_to_samples(
            src_path / file,
            dst_path / file,
            src_path / 'tables.json'
        )

    create_gold_sql(
        [
            src_path / 'dev.json'
        ],
        dst_path / 'dev_gold.sql'
    )

    create_gold_sql(
        [
            src_path / 'train_spider.json',
            src_path / 'train_others.json'
        ],
        dst_path / 'train_gold.sql'
    )
    
    shutil.copyfile(src_path / 'tables.json', dst_path / 'tables.json')

In [19]:
create_complete('machine_translated', 'machine_translated')