In [1]:
import json
import shutil

import sqlparse
import spacy
from sqlparse import sql
from tqdm import tqdm
from pathlib import Path

from process_sql import create_sql, SQLParseException

In [3]:
# Loading whole english spider dataset for further tests
spider_en = []
with open('../spider-en/train_spider.json') as json_data:
    spider_en.extend(json.load(json_data))
with open('../spider-en/train_others.json') as json_data:
    spider_en.extend(json.load(json_data))
with open('../spider-en/dev.json') as json_data:
    spider_en.extend(json.load(json_data))

## Query toks no value

In [3]:
def tokenize_query_no_value(query):
    statement = sqlparse.parse(query)[0]
    
    value_tokens = [token for token in statement.flatten() if str(token.ttype).startswith('Token.Literal')]
    for token in value_tokens:
        token.value = 'value'
        
    coarse_tokens =  [str(token).lower() for token in statement.flatten() if str(token).strip() != '']
    
    fine_tokens = []
    for token in coarse_tokens:
        if len(token.split(' ')) > 1:
            fine_tokens.extend(token.split(' '))
        elif token == '!=':
            fine_tokens.extend(['!', '='])
        elif token == '>=':
            fine_tokens.extend(['>', '='])
        elif token == '<=':
            fine_tokens.extend(['<', '='])
        elif token == ';':
            continue
        else:
            fine_tokens.append(token)
    return fine_tokens

### Test

In [44]:
# Compare created tokenization function with tokens from oryginal spider
discrepancies = 0

for sample in spider_en:
    my_tokens = tokenize_query_no_value(sample['query'])
    oryginal_tokens = sample['query_toks_no_value']
    if my_tokens != oryginal_tokens:
        discrepancies += 1
        print(sample['query'])
        print(my_tokens)
        print(oryginal_tokens)
        print()
        
print(discrepancies, 'discrepancies')
# found 18 discrepancies

SELECT count(*) FROM follows GROUP BY f1
['select', 'count', '(', '*', ')', 'from', 'follows', 'group', 'by', 'f1']
['select', 'count', '(', '*', ')', 'from', 'follows', 'group', 'by', 'value']

SELECT Roles.role_description , count(Employees.employee_id) FROM ROLES JOIN Employees ON Employees.role_code = Roles.role_code GROUP BY Employees.role_code HAVING count(Employees.employee_id)  >  1;
['select', 'roles', '.', 'role_description', ',', 'count', '(', 'employees', '.', 'employee_id', ')', 'from', 'roles', 'join', 'employees', 'on', 'employees', '.', 'role_code', '=', 'roles', '.', 'role_code', 'group', 'by', 'employees', '.', 'role_code', 'having', 'count', '(', 'employees', '.', 'employee_id', ')', '>', 'value']
['select', 'roles.role_description', ',', 'count', '(', 'employees.employee_id', ')', 'from', 'roles', 'join', 'employees', 'on', 'employees.role_code', '=', 'roles.role_code', 'group', 'by', 'employees.role_code', 'having', 'count', '(', 'employees.employee_id', ')', '>', 'value']

SELECT Ref_Document_Status.document_status_description FROM Ref_Document_Status JOIN Documents ON Documents.document_status_code = Ref_Document_Status.document_status_code WHERE Documents.document_id = 1;
['select', 'ref_document_status', '.', 'document_status_description', 'from', 'ref_document_status', 'join', 'documents', 'on', 'documents', '.', 'document_status_code', '=', 'ref_document_status', '.', 'document_status_code', 'where', 'documents', '.', 'document_id', '=', 'value']
['select', 'ref_document_status.document_status_description', 'from', 'ref_document_status', 'join', 'documents', 'on', 'documents.document_status_code', '=', 'ref_document_status.document_status_code', 'where', 'documents.document_id', '=', 'value']

SELECT Ref_Shipping_Agents.shipping_agent_name FROM Ref_Shipping_Agents JOIN Documents ON Documents.shipping_agent_code = Ref_Shipping_Agents.shipping_agent_code WHERE Documents.document_id = 2;
['select', 'ref_shipping_agents', '.', 'shipping_agent_name', 'from', 'ref_shipping_agents', 'join', 'documents', 'on', 'documents', '.', 'shipping_agent_code', '=', 'ref_shipping_agents', '.', 'shipping_agent_code', 'where', 'documents', '.', 'document_id', '=', 'value']
['select', 'ref_shipping_agents.shipping_agent_name', 'from', 'ref_shipping_agents', 'join', 'documents', 'on', 'documents.shipping_agent_code', '=', 'ref_shipping_agents.shipping_agent_code', 'where', 'documents.document_id', '=', 'value']

SELECT count(*) FROM Ref_Shipping_Agents JOIN Documents ON Documents.shipping_agent_code = Ref_Shipping_Agents.shipping_agent_code WHERE Ref_Shipping_Agents.shipping_agent_name = "USPS";
['select', 'count', '(', '*', ')', 'from', 'ref_shipping_agents', 'join', 'documents', 'on', 'documents', '.', 'shipping_agent_code', '=', 'ref_shipping_agents', '.', 'shipping_agent_code', 'where', 'ref_shipping_agents', '.', 'shipping_agent_name', '=', 'value']
['select', 'count', '(', '*', ')', 'from', 'ref_shipping_agents', 'join', 'documents', 'on', 'documents.shipping_agent_code', '=', 'ref_shipping_agents.shipping_agent_code', 'where', 'ref_shipping_agents.shipping_agent_name', '=', 'value']

SELECT Ref_Shipping_Agents.shipping_agent_name , count(Documents.document_id) FROM Ref_Shipping_Agents JOIN Documents ON Documents.shipping_agent_code = Ref_Shipping_Agents.shipping_agent_code GROUP BY Ref_Shipping_Agents.shipping_agent_code ORDER BY count(Documents.document_id) DESC LIMIT 1;
['select', 'ref_shipping_agents', '.', 'shipping_agent_name', ',', 'count', '(', 'documents', '.', 'document_id', ')', 'from', 'ref_shipping_agents', 'join', 'documents', 'on', 'documents', '.', 'shipping_agent_code', '=', 'ref_shipping_agents', '.', 'shipping_agent_code', 'group', 'by', 'ref_shipping_agents', '.', 'shipping_agent_code', 'order', 'by', 'count', '(', 'documents', '.', 'document_id', ')', 'desc', 'limit', 'value']
['select', 'ref_shipping_agents.shipping_agent_name', ',', 'count', '(', 'documents.document_id', ')', 'from', 'ref_shipping_agents', 'join', 'documents', 'on', 'documents.shipping_agent_code', '=', 'ref_shipping_agents.shipping_agent_code', 'group', 'by', 'ref_shipping_agents.shipping_agent_code', 'order', 'by', 'count', '(', 'documents.document_id', ')', 'desc', 'limit', 'value']

SELECT Addresses.address_details FROM Addresses JOIN Documents_Mailed ON Documents_Mailed.mailed_to_address_id = Addresses.address_id WHERE document_id = 4;
['select', 'addresses', '.', 'address_details', 'from', 'addresses', 'join', 'documents_mailed', 'on', 'documents_mailed', '.', 'mailed_to_address_id', '=', 'addresses', '.', 'address_id', 'where', 'document_id', '=', 'value']
['select', 'addresses.address_details', 'from', 'addresses', 'join', 'documents_mailed', 'on', 'documents_mailed.mailed_to_address_id', '=', 'addresses.address_id', 'where', 'document_id', '=', 'value']

SELECT document_id FROM Documents WHERE document_status_code  =  "done" AND document_type_code = "Paper" EXCEPT SELECT document_id FROM Documents JOIN Ref_Shipping_Agents ON Documents.shipping_agent_code = Ref_Shipping_Agents.shipping_agent_code WHERE Ref_Shipping_Agents.shipping_agent_name = "USPS";
['select', 'document_id', 'from', 'documents', 'where', 'document_status_code', '=', 'value', 'and', 'document_type_code', '=', 'value', 'except', 'select', 'document_id', 'from', 'documents', 'join', 'ref_shipping_agents', 'on', 'documents', '.', 'shipping_agent_code', '=', 'ref_shipping_agents', '.', 'shipping_agent_code', 'where', 'ref_shipping_agents', '.', 'shipping_agent_name', '=', 'value']
['select', 'document_id', 'from', 'documents', 'where', 'document_status_code', '=', 'value', 'and', 'document_type_code', '=', 'value', 'except', 'select', 'document_id', 'from', 'documents', 'join', 'ref_shipping_agents', 'on', 'documents.shipping_agent_code', '=', 'ref_shipping_agents.shipping_agent_code', 'where', 'ref_shipping_agents.shipping_agent_name', '=', 'value']

SELECT document_id FROM Documents WHERE document_status_code  =  "done" AND document_type_code = "Paper" INTERSECT SELECT document_id FROM Documents JOIN Ref_Shipping_Agents ON Documents.shipping_agent_code = Ref_Shipping_Agents.shipping_agent_code WHERE Ref_Shipping_Agents.shipping_agent_name = "USPS";
['select', 'document_id', 'from', 'documents', 'where', 'document_status_code', '=', 'value', 'and', 'document_type_code', '=', 'value', 'intersect', 'select', 'document_id', 'from', 'documents', 'join', 'ref_shipping_agents', 'on', 'documents', '.', 'shipping_agent_code', '=', 'ref_shipping_agents', '.', 'shipping_agent_code', 'where', 'ref_shipping_agents', '.', 'shipping_agent_name', '=', 'value']
['select', 'document_id', 'from', 'documents', 'where', 'document_status_code', '=', 'value', 'and', 'document_type_code', '=', 'value', 'intersect', 'select', 'document_id', 'from', 'documents', 'join', 'ref_shipping_agents', 'on', 'documents.shipping_agent_code', '=', 'ref_shipping_agents.shipping_agent_code', 'where', 'ref_shipping_agents.shipping_agent_name', '=', 'value']

SELECT Employees.employee_name FROM Employees JOIN Circulation_History ON Circulation_History.employee_id = Employees.employee_id WHERE Circulation_History.document_id = 1;
['select', 'employees', '.', 'employee_name', 'from', 'employees', 'join', 'circulation_history', 'on', 'circulation_history', '.', 'employee_id', '=', 'employees', '.', 'employee_id', 'where', 'circulation_history', '.', 'document_id', '=', 'value']
['select', 'employees.employee_name', 'from', 'employees', 'join', 'circulation_history', 'on', 'circulation_history.employee_id', '=', 'employees.employee_id', 'where', 'circulation_history.document_id', '=', 'value']

SELECT employee_name FROM Employees EXCEPT SELECT Employees.employee_name FROM Employees JOIN Circulation_History ON Circulation_History.employee_id = Employees.employee_id
['select', 'employee_name', 'from', 'employees', 'except', 'select', 'employees', '.', 'employee_name', 'from', 'employees', 'join', 'circulation_history', 'on', 'circulation_history', '.', 'employee_id', '=', 'employees', '.', 'employee_id']
['select', 'employee_name', 'from', 'employees', 'except', 'select', 'employees.employee_name', 'from', 'employees', 'join', 'circulation_history', 'on', 'circulation_history.employee_id', '=', 'employees.employee_id']

SELECT Employees.employee_name , count(*) FROM Employees JOIN Circulation_History ON Circulation_History.employee_id = Employees.employee_id GROUP BY Circulation_History.document_id , Circulation_History.draft_number , Circulation_History.copy_number ORDER BY count(*) DESC LIMIT 1;
['select', 'employees', '.', 'employee_name', ',', 'count', '(', '*', ')', 'from', 'employees', 'join', 'circulation_history', 'on', 'circulation_history', '.', 'employee_id', '=', 'employees', '.', 'employee_id', 'group', 'by', 'circulation_history', '.', 'document_id', ',', 'circulation_history', '.', 'draft_number', ',', 'circulation_history', '.', 'copy_number', 'order', 'by', 'count', '(', '*', ')', 'desc', 'limit', 'value']
['select', 'employees.employee_name', ',', 'count', '(', '*', ')', 'from', 'employees', 'join', 'circulation_history', 'on', 'circulation_history.employee_id', '=', 'employees.employee_id', 'group', 'by', 'circulation_history.document_id', ',', 'circulation_history.draft_number', ',', 'circulation_history.copy_number', 'order', 'by', 'count', '(', '*', ')', 'desc', 'limit', 'value']

SELECT count(*) FROM Restaurant JOIN Type_Of_Restaurant ON Restaurant.ResID =  Type_Of_Restaurant.ResID JOIN Restaurant_Type ON Type_Of_Restaurant.ResTypeID = Restaurant_Type.ResTypeID GROUP BY Type_Of_Restaurant.ResTypeID HAVING Restaurant_Type.ResTypeName = 'Sandwich'
['select', 'count', '(', '*', ')', 'from', 'restaurant', 'join', 'type_of_restaurant', 'on', 'restaurant', '.', 'resid', '=', 'type_of_restaurant', '.', 'resid', 'join', 'restaurant_type', 'on', 'type_of_restaurant', '.', 'restypeid', '=', 'restaurant_type', '.', 'restypeid', 'group', 'by', 'type_of_restaurant', '.', 'restypeid', 'having', 'restaurant_type', '.', 'restypename', '=', 'value']
['select', 'count', '(', '*', ')', 'from', 'restaurant', 'join', 'type_of_restaurant', 'on', 'restaurant.resid', '=', 'type_of_restaurant.resid', 'join', 'restaurant_type', 'on', 'type_of_restaurant.restypeid', '=', 'restaurant_type.restypeid', 'group', 'by', 'type_of_restaurant.restypeid', 'having', 'restaurant_type.restypename', '=', 'value']

SELECT sum(Spent) FROM Student JOIN Visits_Restaurant ON Student.StuID = Visits_Restaurant.StuID WHERE Student.Fname = "Linda" AND Student.Lname = "Smith";
['select', 'sum', '(', 'spent', ')', 'from', 'student', 'join', 'visits_restaurant', 'on', 'student', '.', 'stuid', '=', 'visits_restaurant', '.', 'stuid', 'where', 'student', '.', 'fname', '=', 'value', 'and', 'student', '.', 'lname', '=', 'value']
['select', 'sum', '(', 'spent', ')', 'from', 'student', 'join', 'visits_restaurant', 'on', 'student.stuid', '=', 'visits_restaurant.stuid', 'where', 'student.fname', '=', 'value', 'and', 'student.lname', '=', 'value']

SELECT count(*) FROM Student JOIN Visits_Restaurant ON Student.StuID = Visits_Restaurant.StuID JOIN Restaurant ON Visits_Restaurant.ResID = Restaurant.ResID WHERE Student.Fname = "Linda" AND Student.Lname = "Smith" AND Restaurant.ResName = "Subway";
['select', 'count', '(', '*', ')', 'from', 'student', 'join', 'visits_restaurant', 'on', 'student', '.', 'stuid', '=', 'visits_restaurant', '.', 'stuid', 'join', 'restaurant', 'on', 'visits_restaurant', '.', 'resid', '=', 'restaurant', '.', 'resid', 'where', 'student', '.', 'fname', '=', 'value', 'and', 'student', '.', 'lname', '=', 'value', 'and', 'restaurant', '.', 'resname', '=', 'value']
['select', 'count', '(', '*', ')', 'from', 'student', 'join', 'visits_restaurant', 'on', 'student.stuid', '=', 'visits_restaurant.stuid', 'join', 'restaurant', 'on', 'visits_restaurant.resid', '=', 'restaurant.resid', 'where', 'student.fname', '=', 'value', 'and', 'student.lname', '=', 'value', 'and', 'restaurant.resname', '=', 'value']

SELECT TIME FROM Student JOIN Visits_Restaurant ON Student.StuID = Visits_Restaurant.StuID JOIN Restaurant ON Visits_Restaurant.ResID = Restaurant.ResID WHERE Student.Fname = "Linda" AND Student.Lname = "Smith" AND Restaurant.ResName = "Subway";
['select', 'time', 'from', 'student', 'join', 'visits_restaurant', 'on', 'student', '.', 'stuid', '=', 'visits_restaurant', '.', 'stuid', 'join', 'restaurant', 'on', 'visits_restaurant', '.', 'resid', '=', 'restaurant', '.', 'resid', 'where', 'student', '.', 'fname', '=', 'value', 'and', 'student', '.', 'lname', '=', 'value', 'and', 'restaurant', '.', 'resname', '=', 'value']
['select', 'time', 'from', 'student', 'join', 'visits_restaurant', 'on', 'student.stuid', '=', 'visits_restaurant.stuid', 'join', 'restaurant', 'on', 'visits_restaurant.resid', '=', 'restaurant.resid', 'where', 'student.fname', '=', 'value', 'and', 'student.lname', '=', 'value', 'and', 'restaurant.resname', '=', 'value']

SELECT Restaurant.ResName ,  sum(Visits_Restaurant.Spent) FROM Visits_Restaurant JOIN Restaurant ON Visits_Restaurant.ResID = Restaurant.ResID GROUP BY Restaurant.ResID ORDER BY sum(Visits_Restaurant.Spent) ASC LIMIT 1;
['select', 'restaurant', '.', 'resname', ',', 'sum', '(', 'visits_restaurant', '.', 'spent', ')', 'from', 'visits_restaurant', 'join', 'restaurant', 'on', 'visits_restaurant', '.', 'resid', '=', 'restaurant', '.', 'resid', 'group', 'by', 'restaurant', '.', 'resid', 'order', 'by', 'sum', '(', 'visits_restaurant', '.', 'spent', ')', 'asc', 'limit', 'value']
['select', 'restaurant.resname', ',', 'sum', '(', 'visits_restaurant.spent', ')', 'from', 'visits_restaurant', 'join', 'restaurant', 'on', 'visits_restaurant.resid', '=', 'restaurant.resid', 'group', 'by', 'restaurant.resid', 'order', 'by', 'sum', '(', 'visits_restaurant.spent', ')', 'asc', 'limit', 'value']

SELECT Student.Fname , Student.Lname FROM Student JOIN Visits_Restaurant ON Student.StuID = Visits_Restaurant.StuID GROUP BY Student.StuID ORDER BY count(*) DESC LIMIT 1;
['select', 'student', '.', 'fname', ',', 'student', '.', 'lname', 'from', 'student', 'join', 'visits_restaurant', 'on', 'student', '.', 'stuid', '=', 'visits_restaurant', '.', 'stuid', 'group', 'by', 'student', '.', 'stuid', 'order', 'by', 'count', '(', '*', ')', 'desc', 'limit', 'value']
['select', 'student.fname', ',', 'student.lname', 'from', 'student', 'join', 'visits_restaurant', 'on', 'student.stuid', '=', 'visits_restaurant.stuid', 'group', 'by', 'student.stuid', 'order', 'by', 'count', '(', '*', ')', 'desc', 'limit', 'value']

18 discrepancies

## Query toks

In [4]:
nlp_pl = spacy.load("pl_core_news_md")

def tokenize_polish(text):
    return [str(token) for token in nlp_pl(text)]

In [5]:
def tokenize_statement(root, tokens=None):
    if tokens is None:
        tokens = []
    
    # Create tokens from elements which we can't divide
    if not hasattr(root, 'tokens'):
        token = str(root).strip()
        if token == '' or token == ';':
            pass
        elif len(token.split(' ')) > 1:
            tokens.extend(token.split(' '))
        elif token == '!=':
            tokens.extend(['!', '='])
        elif token == '>=':
            tokens.extend(['>', '='])
        elif token == '<=':
            tokens.extend(['<', '='])
        else:
            tokens.append(str(root))
    
    # Not split identifiers like "T1.name" into separate tokens
    elif isinstance(root, sql.Identifier) and '.' in str(root):
        tokens.append(str(root))
        
    # Tokenize strings using polish tokenizer
    elif isinstance(root, sql.Identifier) and len(root.tokens) == 1 and str(root.tokens[0].ttype) == 'Token.Literal.String.Symbol':
        tokens.extend(tokenize_polish(str(root)))
        
    # Tokenize other compound elements recursively
    else:
        for token in root.tokens:
            tokenize_statement(token, tokens)
            
    return tokens

In [6]:
def tokenize_query(query):
    statement = sqlparse.parse(query)[0]
    tokens = tokenize_statement(statement)
    return tokens

### Test

In [ ]:
# Compare created tokenization function with tokens from oryginal spider
discrepancies = 0

for sample in spider_en:
    my_tokens = tokenize_query(sample['query'])
    oryginal_tokens = sample['query_toks']
    if my_tokens != oryginal_tokens:
        discrepancies += 1
        print(sample['query'])
        print(my_tokens)
        print(oryginal_tokens)
        print()
        
print(discrepancies, 'discrepancies')
# found 4754 discrepancies

## Question tokenization

In [7]:
def tokenize_question(question):
    return tokenize_polish(question)

## Completing dataset

In [8]:
def add_calculated_attributes_to_samples(src_path, tgt_path, tables_path):
    with open(src_path) as f:
        samples = json.load(f)
        
    new_samples = []
        
    for sample in tqdm(samples):
        try:
            sql = create_sql(sample['db_id'], sample['query_pl'], tables_path)
        except SQLParseException:
            # skip samples with invalid sqls
            print('Skipping sample')
        
        new_sample = {
            'db_id': sample['db_id'],
            'question': sample['question_pl'],
            'question_toks': tokenize_question(sample['question_pl']),
            'query': sample['query_pl'],
            'query_toks': tokenize_query(sample['query_pl']),
            'query_toks_no_value': tokenize_query_no_value(sample['query_pl']),
            'sql': sql
        }
        
        new_samples.append(new_sample)
        
    with open(tgt_path, 'w') as f:
        json.dump(new_samples, f, indent=4, ensure_ascii=False)

In [9]:
def create_gold_sql(src_files, tgt_file):
    with open(tgt_file, 'w') as f:
        for src_file in src_files:
            with open(src_file) as g:
                for sample in json.load(g):
                    f.write(f"{sample['query_pl']}\t{sample['db_id']}\n")

In [18]:
def create_complete(src_name, dst_name):
    src_path = Path('../auxiliary') / src_name
    dst_path = Path('../complete') / dst_name
    
    dst_path.mkdir(exist_ok=True, parents=True)
    
    for file in ['dev.json', 'train_others.json', 'train_spider.json']:
        add_calculated_attributes_to_samples(
            src_path / file,
            dst_path / file,
            src_path / 'tables.json'
        )

    create_gold_sql(
        [
            src_path / 'dev.json'
        ],
        dst_path / 'dev_gold.sql'
    )

    create_gold_sql(
        [
            src_path / 'train_spider.json',
            src_path / 'train_others.json'
        ],
        dst_path / 'train_gold.sql'
    )
    
    shutil.copyfile(src_path / 'tables.json', dst_path / 'tables.json')

In [19]:
create_complete('machine_translated', 'machine_translated')